.vscode/**
.vscode-test/**
src/**
!src/media/**
.gitignore
tools/**
tsconfig.json
**/*.map
node_modules/.bin
node_modules/typescript
node_modules/@types
tests/**
docs/**
error.txt
.github/**
eslint.config.cjs
playwright-report/**
test-results/**
.env
.env.*
